/* You can add global styles to this file, and also import other style files */

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
  margin: auto;
}

h2 {
  text-align: center;
  color: #1976d2;
}